# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.aem3

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# TI CCS
*.launches/
*.metadata/
.jxbrowser-data/
targetConfigs

# Gerbers
*.gbr
*.drl

# Python
*.pyc

# Project specific files
ccs_workspace/badge_lgbt/SingleMode_FlashOnly/
ccs_workspace/badge_lgbt/MultiMode_FlashOnly/

ccs_workspace/badge.lgbt/TOOLS/src/sysbios/makefile

ccs_workspace/badge.lgbt/TOOLS/src/makefile.libs

ccs_workspace/badge.lgbt/.xdchelp

cc2642r.pdf

cc26x2_reference.pdf

TLC6983_advance_information_data_sheet.pdf

ccs_workspace/RemoteSystemsTempFiles/

ccs_workspace/badge.lgbt/.config/

ccs_workspace/dvt/

ccs_workspace/.jxbrowser.userdata/
